* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.container{
    height: 750px;
    display: flex;      
    justify-content: center;
    align-items: center;
}

.card {
    width: 600px;
    height: auto;
    background-color: whitesmoke;
    border-radius: 40px;
    padding: 20px;
}

.card h1 {
    text-align: center;
    padding: 10px;
   

}

.card h2 {
    text-align: end;
    padding: 10px;
}

.button button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: aliceblue;
}

.button{
    text-align: center;
}